.heading-xl{

font-family:var(--font-heading);

font-size:var(--text-heading-xl);

font-weight:var(--fw-extrabold);

line-height:var(--lh-tight);

}



.heading-lg{

font-family:var(--font-heading);

font-size:var(--text-heading-lg);

font-weight:var(--fw-extrabold);

line-height:var(--lh-tight);

}



.heading-md{

font-family:var(--font-heading);

font-size:var(--text-heading-md);

font-weight:var(--fw-bold);

line-height:var(--lh-snug);

}



.text-lg{

font-size:var(--text-lg);

line-height:var(--lh-normal);

}



.text-md{

font-size:var(--text-md);

line-height:var(--lh-normal);

}



.text-sm{

font-size:var(--text-sm);

line-height:var(--lh-normal);

}



.text-xs{

font-size:var(--text-xs);

line-height:var(--lh-normal);

}